@{
    ViewBag.Title = "About";
}


<p>Doors is the best way to connect with people, group up and discover what's happening.</p>
<p> Join now <a href="@Url.Action("Register","Account")" >here</a></p>
