@{
    ViewBag.Title = "Contact";
}
    <address>
        Skipasund 14<br />
        104 Reykjavík, Iceland<br />
        <abbr title="Phone">P:</abbr>
        +354 662-6025
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">dagurleo@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">danniing@gmail.com</a>
    </address>
