@model IEnumerable<DoorsSocialWeb.Models.EntityModels.Group>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <title></title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="header">
        <div class="loginLogo">
            <img src="http://www.ads.menn.is/logo.png" height="35">
        </div>

            @Html.ActionLink("Sign Out","Logoff","LoggedIn",null,new { @class = "logout" } )

    </div>

    <div class="leftPanel">
        <div id="groupHeader">
            <h4>Groups</h4>
        </div>
        <ul class="groupList">
            @if(Model != null)
            {
                if(Model.Count() == 0)
                {
                    <p>You are not a member of any group!</p>
                }
                foreach(var m in Model)
                { 
                    <li>m.groupName</li>
                }
            }
        </ul>
        <div class="createGroup">
            <h4>Create a group</h4>
        </div>
    </div>

    <div class="rightPanel">
        <div class="profileSnippet">
            <img src="https://krazyride.com/images/Driver/188/Profile_201505040606090610.png" alt="Theodor">
            <h3> Teddzi </h3>
        </div>
        <div class="breaker"></div>
        <div class="friendHeader">
            <div class="friendLabel"><h4>Friends</h4></div>
            <div class="friendCount"><h4>152</h4></div>
        </div>
        <ul class="friendList">
            <li><img src="https://krazyride.com/images/Driver/188/Profile_201505040606090610.png" alt="Theodor"> </li>
            <li>CS:GO</li>
            <li>Cuddlebuddygroup</li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
