@model DoorsSocialWeb.Models.ViewModels.TopicViewModel

@{
    var groupMembers = Model.getGroupMembersByGroupId(Model.currentGroup.ID);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="userheader">
        @foreach (var m in groupMembers)
        {
            <a href="@Url.Action("Profile", "Profile", new { id = m.Id })">
                <img src="@m.displayImageUrl" width="50px" height="50px" />
            </a>
        }
    </div>
    <h1>@Model.currentTopic.topicName</h1>
</body>
</html>
