@model DoorsSocialWeb.Models.ViewModels.TopicViewModel

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <ul>
            @foreach(var i in Model.topics)
            {
                <li>@i.topicName</li>
            }
        </ul>
    </div>
</body>
</html>
