@model DoorsSocialWeb.Models.ViewModels.MessageViewModel
@{
    ViewBag.Title = "Chat";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>
<body>
    <ul>
        @foreach(var m in Model.messagesWithUser)            
        {
            <li>
               @Model.getAuthor(m.senderID).displayName
               @m.subject               
            </li>
        }    
    </ul>    
</body>
