@model DoorsSocialWeb.Models.ViewModels.MessageViewModel
@{
    ViewBag.Title = "Chat";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>
<body>
    
       <section id="messageList">
           @foreach (var m in Model.messagesWithUser)
           {
               <div class="singleMesage">
                   @Model.getAuthor(m.senderID).displayName
                   @m.subject
               </div>
           }    
       </section>

        <div class="newMessage">
            @using (Html.BeginForm("SendNewMessage", "LoggedIn", FormMethod.Post, new { id = "messageForm" }))
            {
                <input type="hidden" name="senderId" value="@Model.currentUser.Id" />
                <input type="hidden" name="recieverId" value="@Model.messageReciever.Id" />
                <textarea name="subject" placeholder="Send a new Message"></textarea> 
                <button type="submit">Send</button>
            }
            
        </div>
    
</body>
