@model DoorsSocialWeb.Models.ViewModels.LoggedInSharedLayoutViewModel

@{
       
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm("CreateGroupView", "LoggedIn", FormMethod.Post, new {role = "form" }))
    {
        <input type="hidden" name="ownerid" value="@Model.currentUser.Id" />
        <input type="text" name="groupname" />
        <textarea name="groupdescription" ></textarea>
        <input type="submit" value="Create Group" />      
    }
</body>
</html>
