@model DoorsSocialWeb.Models.ViewModels.GroupViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @if (Model.currentGroup.groupName != null && Model.currentGroup.groupName != "")
        {
            <h1>@Model.currentGroup.groupName</h1>
        }
        @if (Model.currentGroup.groupDescription != null && Model.currentGroup.groupName != "")
        {
            <h1>@Model.currentGroup.groupDescription</h1>
        }
    </div>

    <div>
        @if (Model.userIsMember(Model.currentUser()))
        {
            
        }
    </div>


</body>
</html>
