@model DoorsSocialWeb.Models.ViewModels.GroupViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @if (Model.currentGroup.groupName != null && Model.currentGroup.groupName != "")
        {
            <h1>@Model.currentGroup.groupName</h1>
        }
        @if (Model.currentGroup.groupDescription != null && Model.currentGroup.groupName != "")
        {
            <h1>@Model.currentGroup.groupDescription</h1>
        }
    </div>

    <div>
        @if ((!(Model.userIsMember(Model.currentUser.Id)) && Model.currentUser.Id != Model.currentGroup.groupOwnerID))
        {
                using (Html.BeginForm("requestToJoinGroup", "LoggedIn", FormMethod.Post))
                {
                    <input type="hidden" name="userid" value="@Model.currentUser.Id" />
                    <input type="hidden" name="groupid" value="@Model.currentGroup.ID" />
                    <input type="submit" value="requestToJoinGroup" />
                }
        }
        @if(Model.currentGroup.groupOwnerID == Model.currentGroup.groupOwnerID)
        {
            <!--ACCEPT USERS-->
        }

    </div>


</body>
</html>
