@model DoorsSocialWeb.Models.ViewModels.LoggedInSharedLayoutViewModel
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>Hér á að koma texti</p>
    <ul>
        @if (Model.posts != null)
        {
            if (Model.posts.Count() == 0)
            {
                <li>No Posts to show</li>
            }
            foreach (var m in Model.posts)
            {
                <li>@m.subject</li>
            }
        }
    </ul>
</body>
</html>
