@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <ul>
        @if (Model.groups != null)
        {
            if (Model.post().Count == 0)
            {
                <li>No Posts to show</li>
            }
            foreach (var m in Model.post)
            {
                <li>@m.post</li>
            }
        }
    </ul>
</body>
</html>
