@model DoorsSocialWeb.Models.ViewModels.ProfileViewModel
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@Model.friend.displayName</h1>

        @if (Model.posts != null)
        {
            if (Model.posts.Count() == 0)
            {
                <li>No Posts to show</li>
            }
            foreach (var m in Model.posts)
            {
                <li>@m.subject</li>
            }
        }

    </div>
</body>
</html>
