@model DoorsSocialWeb.Models.ViewModels.ProfileViewModel
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@Model.friend.displayName</h1>
    </div>
</body>
</html>
