@model DoorsSocialWeb.Models.ViewModels.SearchViewModel
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="usersFound">
        <ul>
            @foreach (var i in Model.usersSearched)
            {
                <li>
                    <a href="@Url.Action("Profile", "LoggedIn", new { id = i.Id })">
                        @i.displayName
                    </a>
                </li>
            }
        </ul>
        <div class="groupsFound">
            <ul>
                @foreach (var i in Model.groupsSearched)
                {
                    <li>@i.groupName</li>
                }
            </ul>
        </div>
    </div>
</body>
</html>
